/* ProjectContent */
.img {
    height: 19px;
    width: 19px;
    margin-left: 10px;
}

.caption {
    display: flex;
}

.project {
    display: block;
    text-decoration: none;
    border-top: 1px solid #b8b8b8;
    padding: 10px 0;
}

.title {
    font-weight: bold;
}

.title, .description {
    padding: 5px;
}

.deleteIcon {
    margin: 0 0 0 auto;
}