.dispBtn {
    cursor: pointer;
    margin: 10px;
    font-weight: bold;
    font-size: 110%;
}

.TagForm {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.inputText {
    background-color: white;
    color: black;
    margin: 5px 20px;
    border-radius: 5px;
    padding: 5px;
    font-size: 80%;
}

.storySelect {
    margin: 10px;
    line-height: 1.4;
    background-color: white;
    color: black;
}

.createAreaBtn {
    background-color: #436581;
    width: 30%;
    padding: 5px 10px;
    text-align: center;
    margin: 10px 0 10px 20px;
    border-radius: 5px;
    border: 1px solid white;
}

.radioWrap {
    margin: 5px 10px;
    display: flex;
    justify-content: space-between;
}

.radioInput{
    display: none;
}

.inputLabel {
    margin: 5px 10px;
}

.radioLabel {
    background-color: white;
    color: #002C50;
    font-size: 80%;
    width: 100px;
    padding: 5px;
    margin: 3px;
    border-radius: 5px;
    text-align: center;
}

.radioChecked {
    background-color: #F8B500;
}

.inputColText {
    margin: 5px 20px;
}

.submitBtnWrap {
    text-align: right;
    margin-top: 20px;
}

.submitBtn {
    margin-right: 20px;
    padding: 5px 20px;
    background-color: #073B67;
}

.submitBtn:hover {
    background-color: #EDA934;
}

.setCurrentFrameBtn {
    margin: 10px 20px 0 auto;
    background-color: #EEE;
    padding: 5px;
    display: inline-block;
    color: black;
    text-align: center;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 80%;
}

/* エラーメッセージ */
.error {
    background-color: #F58383;
    border: 1px solid white;
}

.errorMessage {
    color: #F58383;
    margin: 5px 0 5px 20px;
    font-weight: bold;
    letter-spacing : 4px;
    text-shadow :
       1px  1px 1px white,
      -1px  1px 1px white,
       1px -1px 1px white,
      -1px -1px 1px white,
       1px  0px 1px white,
       0px  1px 1px white,
      -1px  0px 1px white,
       0px -1px 1px white;
}