.displayFormBtnWrap {
    width: 50px;
    height: 12vh;
    position: absolute;
    top: 8%;
    right: 0;
    background-color: #8497B0;
    border-radius: 10px 0 0 10px;
    color: white;
    opacity: 0.9;
    cursor: pointer;
    text-align: center;
}

.displayFormBtnWrap:hover {
    background-color: #EDA934;
}

.displayFormBtn {
    writing-mode: vertical-rl;
    width: 100%;
    height: 100%;
    padding-right: 25%;
}

.addForm {
    width: 400px;
    height: calc(100% - 12vh);
    color: white;
    background-color: #8497B0;
    opacity: 0.9;
    position: fixed;
    top: 6%;
    right: -400px;
    overflow: auto;
    overflow-y: scroll;
    z-index: 1;
}

/* スクロールバー */
.addForm::-webkit-scrollbar {
    width: 7px;
}

.addForm::-webkit-scrollbar-thumb {
    background: #F8B500;
    border-radius: 3px;
}

.addForm::-webkit-scrollbar-track {
    background: rgba(100,100,100, .5);
}

.inputCol {
    display: flex;
    flex-direction: column;
}

.inputLabel {
    margin: 10px 20px;
}

.inputVideo {
    margin: 5px 20px;
}

.inputText {
    background-color: white;
    margin: auto 20px;
    padding: 5px;
    border-radius: 5px;
    color: black;
}

.inputCheck {
    margin: 5px 0;
}

.submitBtnWrap {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.addBtnWrap {
    width: 100%;
    margin: 10px 0;
}

.addBtn {
    display: block;
    padding: 10px;
    background-color: #3f6485;
    font-weight: 500;
    opacity: 0.9;
    margin: 0 20px 0 auto;
}

.submitBtn {
    width: 125px;
    height: 50px;
    border-radius: 25px;
    margin-top: 10px;
    background-color: #073B67;
    font-weight: 500;
    opacity: 0.9;
}

.addBtn:hover, .submitBtn:hover {
    background-color: #EDA934;
}

.deleteBtn {
    display: block;
    background-color: rgb(245, 131, 131);
    margin: 0 20px 0 auto;
    padding: 5px 10px;
    border-radius: 5px;
}

.error {
    background-color: #F58383;
    border: 1px solid white;
}

.errorMessage {
    color: #F58383;
    margin: 5px 0 5px 20px;
    font-weight: bold;
    letter-spacing : 4px;
    text-shadow :
       1px  1px 1px white,
      -1px  1px 1px white,
       1px -1px 1px white,
      -1px -1px 1px white,
       1px  0px 1px white,
       0px  1px 1px white,
      -1px  0px 1px white,
       0px -1px 1px white;
}