.videoRelationWrap {
    height: 100%;
    overflow-y: scroll;
    overflow: auto;
}

/* スクロールバー */
.videoRelationWrap::-webkit-scrollbar {
    width: 7px;
}

.videoRelationWrap::-webkit-scrollbar-thumb {
    background: #F8B500;
    border-radius: 3px;
}

.videoRelationWrap::-webkit-scrollbar-track {
    background: rgba(100,100,100, .5);
}

.title {
    font-weight: bold;
    font-size: 150%;
    margin: 20px;
}

.contentWrap {
    display: flex;
    flex-wrap: wrap;
}

/* ロード画面 */
.loadingLayer {
    width: 100%;
    height: (100% - 12vh);
    position: absolute;
    top: 6vh;
    left: 0;
    z-index: 20;
    text-align: center;
}

.loadingText {
    font-size: 120%;
    font-weight: bold;
    color: #073B67;
}