.content {
    width: 200px;
    margin: 10px;
    padding: 5px;
    border: 1px solid;
    border-radius: 10px;
}

.titleBox {
    display: flex;
    width: 100%;
    background-color: #CCC;
    border-radius: 5px 5px 0 0;
    padding: 10px;
}

.editIcon, .deleteIcon {
    height: 19px;
    width: 19px;
    cursor: pointer;
}

.editIcon {
    margin-left: auto;
}

.deleteIcon {
    margin-left: 10px;
}

.thumb {
    width: 100%;
}