/* サイドバー */
.tagWrap {
    width: 350px;
    overflow-y: scroll;
    overflow: auto;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #8497B0;
    color: white;
}

/* スクロールバー */
.tagWrap::-webkit-scrollbar {
    width: 7px;
}

.tagWrap::-webkit-scrollbar-thumb {
    background: #F8B500;
    border-radius: 3px;
}

.tagWrap::-webkit-scrollbar-track {
    background: rgba(100,100,100, .5);
}

/* 動画、コントロールバー */
.videoPlayer {
    width: calc(100% - 350px);
    height: 100%;
    position: relative;
}

/* ビデオ要素全体 */
.videoContents {
    position: relative;
    overflow: hidden;
    height: calc(100% - 80px);
    margin: auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4b4e52;
}

/* タグ作成時レイヤー */
.createTagLayer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #CCC;
    opacity: 0.5;
    pointer-events: none;
}

/* ロード画面 */
.loadingDataLayer {
    width: 100%;
    height: calc(100% - 12vh);
    position: absolute;
    top: 6vh;
    left: 0;
    background-color: #F4F6F9;
    z-index: 20;
    text-align: center;
}

.loadingLayer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #F4F6F9;
    z-index: 20;
    text-align: center;
}

.loadingText {
    font-size: 120%;
    font-weight: bold;
    color: #073B67;
}

.videoWrap {
    position: relative;
}

/* フルスクリーン時のデザイン（デフォルトが黒のため変更） */
:not(:root):fullscreen::backdrop {
    background: #F4F6F9;
}