/* ProjectContent */
.editImg {
    height: 18px;
    width: 18px;
    margin-left: 15px;
    cursor: pointer;
    padding: 1px;
}

.deleteImg {
    height: 20px;
    width: 20px;
    margin: auto 20px 10px auto;
    cursor: pointer;
}

.caption {
    display: flex;
    margin-bottom: 5px;
}

.project {
    display: flex;
    text-decoration: none;
    border-top: 1px solid #b8b8b8;
    padding: 10px 0;
}

.title {
    font-weight: bold;
}

.title, .description {
    padding: 5px 0;
}

.col {
    margin: 10px;
}