/* ProjectList */
.h2 {
    font-weight: bold;
    font-size: 150%;
    margin: 20px;
}

.projectWrap {
    height: 100%;
    overflow-y: scroll;
    overflow: auto;
}

/* スクロールバー */
.projectWrap::-webkit-scrollbar {
    width: 7px;
}

.projectWrap::-webkit-scrollbar-thumb {
    background: #F8B500;
    border-radius: 3px;
}

.projectWrap::-webkit-scrollbar-track {
    background: rgba(100,100,100, .5);
}

/* ロード画面 */
.loadingLayer {
    width: 100%;
    height: calc(100% - 12vh);
    position: absolute;
    top: 6vh;
    left: 0;
    background-color: #F4F6F9;
    z-index: 20;
    text-align: center;
}

.loadingText {
    font-size: 120%;
    font-weight: bold;
    color: #073B67;
}