/* ProjectContent */
.editImg {
    height: 18px;
    width: 18px;
    margin-left: 15px;
    cursor: pointer;
    padding: 1px;
}

.deleteImg {
    height: 20px;
    width: 20px;
    margin: auto 50px 10px auto;
    cursor: pointer;
}

.caption {
    display: flex;
    margin-bottom: 5px;
}

.project {
    display: flex;
    text-decoration: none;
    margin: 10px 20px;
}

.project:nth-of-type(n+2) {
    border-top: 1px solid #b8b8b8;
}

.title {
    font-weight: bold;
}

.title, .description {
    padding: 5px 0;
}

.col {
    margin: 10px;
}

.error {
    background-color: #F58383;
    border: 1px solid white;
}

.errorMessage {
    color: #F58383;
    margin: 10px 0 10px 20px;
    font-weight: bold;
    letter-spacing : 4px;                /* 文字間 */
    text-shadow    : 
       1px  1px 1px white,
      -1px  1px 1px white,
       1px -1px 1px white,
      -1px -1px 1px white,
       1px  0px 1px white,
       0px  1px 1px white,
      -1px  0px 1px white,
       0px -1px 1px white;
}